#img{
    opacity: 0.3;
    width: 65%;
    margin-left: 250px;
    position:absolute;
}

.box{
    border: solid black;
    background-color:silver;
    width: 295px;
    height: 50px;
    position:relative;
    top: 250px;
    left: 540px;
    font-size: 50px;
    color: black;
    text-align: right;
}

.keys{    
    display:grid;
    grid-template-columns: repeat(4,80px);
    grid-row-gap: 20px;
    position: absolute;
    top: 65%;
    left: 50.8%;
    transform: translate(-50%, -50%);
    color: black;
}


.key{
    position: relative;
    text-align: center;
    color: black;
}

.heart{
    width: 40px;
}

#container{
    position: absolute;
    text-align: center;
}

.number{
    color: white;
    font-size: 20px;
    position:absolute;
    top: 20%;
    left: 43%;
    transform: (-50%,50%);
}

#blue{
    color: black;
}


button:active{
    cursor: pointer;
    background: gray;
    color: black;

}